<nav class="navbar navbar-bg navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref=".dashboard">
        <img class="nav-center" alt="Brand" src="img/Logo2.png">
        <span class="nav-center tag-line">LearnHub - one stop learning portal!</span>
      </a>
    </div>
  </div>
</nav>

<div ui-view class="template-holder"></div>

<nav class="navbar footer">
  <span class="nav-center">Made with <span class="glyphicon glyphicon-heart text-danger"></span> in India</span>
  <ul class="nav navbar-nav navbar-right">
    <li><a ui-sref=".contact">Contact</a></li>
    <li><a ui-sref=".aboutus">About</a></li>
  </ul>
</nav>